.header {
  padding: 18px 0;
  border-bottom: 1px solid var(--dark-6);
  z-index: 20;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__nav,
  .header__sign-up {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.nav__item {
  margin-right: 40px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  text-transform: capitalize;
  color: var(--dark-2);
}
.sign-up {
  color: var(--white);
}
.sign-up__link {
  margin-right: 20px;
  color: var(--white);
}
.sign-up__link:last-child {
  margin-right: 0;
}
